<IfModule mod_rewrite.c>
RewriteEngine on

RewriteRule ^.+\.(jpg|gif|png|ico|css|js)$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?CTRL=$1 [QSA,L]
</IfModule>
